body,
.form-control,
.form-control::placeholder,
.btn-link,
.form-control:focus,
.product-title a,
.l-footer,
.l-footer .account-list a,
.l-footer .cms-page-link,
.text-muted,
.custom-select,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.modal-cart__name,
a.remove-from-cart,
.page-content--my-account a,
.menu__item-link--top,
.btn-light:hover,
.slider-caption {
	color: #000
}

.text-success,
.page-content--my-account a:hover>span {
	color: #000 !important
}

a,
.price.current-price-discount,
.price,
.card-product:hover .product-title,
.card-product:hover .product-title a,
.l-footer .account-list a:hover,
.l-footer .cms-page-link:hover,
.carrier-price,
.btn-link:hover {
	color: #fba000
}

.text-primary,
a.text-primary:focus,
a.text-primary:hover {
	color: #fba000 !important
}

a,
.product-title a,
.page-content--my-account a>span {
	transition: all ease .3s
}

a:hover,
.product-title a:hover {
	color: #fba000;
	text-decoration: none
}

.page-content--my-account a:hover {
	text-decoration: none
}

.regular-price,
.nav-tabs .nav-link,
.breadcrumb a,
.breadcrumb-item.active,
.breadcrumb-item+.breadcrumb-item:before,
.footer-container small,
.footer-container small a {
	color: #b0b0b0
}

.text-muted {
	color: #b0b0b0 !important
}

.form-control,
.bootstrap-touchspin,
.custom-select {
	border-color: #b0b0b0
}

.form-control:focus,
.custom-select:focus,
.accordion .selected .account-links .link-item,
.accordion .selected .address,
.accordion .selected .block-categories,
.accordion .selected .card,
.accordion .selected .card-block,
.accordion .selected .left-column .search_filters,
.accordion .selected .page-wrapper,
.account-links .accordion .selected .link-item,
.left-column .accordion .selected .search_filters,
.page-content--my-account a:hover>span {
	border-color: #fba000
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	border-bottom-color: #000
}

.form-control:focus,
.custom-select:focus,
.color,
.bootstrap-touchspin {
	box-shadow: none
}

.product-flag,
.product-flag.discount-product,
.discount,
#search_filters .ui-widget-header {
	background-color: #000
}

.bg-success {
	background-color: #000 !important
}

.delivery-option {
	background-color: #fafafa
}

.breadcrumb {
	background-color: #ebebeb
}

.btn-primary,
.btn-secondary {
	background-color: #000;
	border-color: #000
}

.btn-outline-success {
	color: #000;
	border-color: #000
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:hover,
.btn-outline-success:hover,
.btn-outline-success:not(:disabled):not(.disabled).active,
.btn-outline-success:not(:disabled):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
	background-color: #fba000;
	border-color: #fba000
}

.btn.focus,
.btn:focus,
.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus,
.btn-light {
	box-shadow: none
}

.btn-outline-secondary,
.btn-outline-primary,
.btn-light {
	color: #b0b0b0;
	border-color: #b0b0b0
}

.btn-outline-secondary:hover,
.btn-primary.disabled,
.btn-primary:disabled,
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle,
.btn-light.focus,
.btn-light:focus,
.btn-light:hover,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle,
.btn-light.focus,
.btn-light:focus,
.btn-light:hover {
	background-color: #b0b0b0;
	border-color: #b0b0b0
}

.custom-checkbox .custom-control-input:checked~.custom-control-label:after,
.custom-radio .custom-control-input:checked~.custom-control-label:after {
	background-color: #000
}

.custom-radio .custom-control-input:checked~.custom-control-label:after {
	border-radius: 16px
}

.custom-control-input:focus~.custom-control-label:before {
	box-shadow: none
}

.custom-control-input:focus:not(:checked)~.custom-control-label:before {
	border-color: #b0b0b0
}

.custom-control-input:checked~.custom-control-label:before,
.custom-control-input:not(:disabled):active~.custom-control-label:before {
	border-color: #b0b0b0;
	background-color: #b0b0b0
}

.alert-info {
	color: #FFF;
	background-color: #000;
	border-color: #000
}

.social-share-btn--product.facebook:hover {
	background-image: url(../img/90464e8f4507d7cc4dc4032c752c11fa.svg)
}

.social-share-btn--product.twitter:hover {
	background-image: url(../img/ffa43ee2d7f6db73af85bfa35912c205.svg)
}

.social-share-btn--product.googleplus:hover {
	background-image: url(../img/126b45cc418ea922d1a78af189061e2e.svg)
}

.social-share-btn--product.pinterest:hover {
	background-image: url(../img/fd22b6e5f1545ed1074b8723ddb00939.svg)
}

.social-share-btn--product:hover {
	border: 1px solid #fba000
}

body,
.montserrat,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.products-section-title,
h1,
h2,
h3,
h4,
h5,
h6,
.footer__title {
	font-family: 'Montserrat', sans-serif
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.products-section-title,
h1,
h2,
h3,
h4,
h5,
h6,
.footer__title {
	font-weight: 700
}

.h3.product-title {
	font-weight: 400
}

.products-section-title {
	font-size: 2.5em
}

.h1,
.products-section-title,
h1 {
	font-size: 1.75em
}

.footer__title {
	font-size: 1.5em
}

.l-header {
	box-shadow: none
}

#index .l-header {
	margin-bottom: 0
}

.product-price-and-shipping>form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap
}

.product-price-and-shipping>form>input {
	width: 15%;
	padding: .375rem 0;
	text-align: center
}

.slider-caption .display-1 {
	font-weight: bold
}

li.menu__item .menu__item-link--top:hover {
	color: #000
}

li.menu__item .menu__item-link--top span {
	position: relative
}

li.menu__item .menu__item-link--top span:after {
	content: '';
	transition: all ease .3s;
	width: 100%;
	height: 2px;
	background-color: #fba000;
	bottom: -5px;
	left: 0;
	opacity: 0;
	position: absolute
}

li.menu__item:hover .menu__item-link--top span:after {
	bottom: 0;
	opacity: 1
}

#content-hook-order-confirmation-footer .featured-products {
	display: none
}

@media (max-width:540px) {

	.product-price-and-shipping>form>input,
	.slider-caption .caption-description {
		display: none
	}

	.product-price-and-shipping>form>button {
		width: 100%
	}

	.slider-caption {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		max-width: 58%;
		text-align: center;
		height: auto
	}

	.slider-caption .display-1 {
		font-size: 1.5rem;
		margin: 0;
		text-shadow: 1px 1px 0 #FFF
	}
}

.slick-prev:before,
.slick-next:before {
	content: none;
}

.carousel a:not(:first-child) {
	display: block;
}

.slick-prev,
.slick-next {
	width: 48px;
	height: 48px;
	top: 50%;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slick-prev {
	left: 5px;
}

.slick-next {
	right: 5px;
}